@import url('variabels.css');


/* Отключение масштабирования */
html, body {
    touch-action: auto;
    -ms-touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

/* Отключение выделения текста */
body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


body {
    font-family: var(--font-family);
    background-color: var(--background-color);
}

.tittle-content {
    position: relative;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1, h2 {
    color: #333;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    color: var(--bk-corporate-color-first);
    font-weight: var(--font-weight-normal);
}

a {
    color: var(--bk-corporate-color-second);
    font-size: var(--font-size-normal);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-normal);
    vertical-align: sub;
}
b {
    color: #3C3C3C;
    font-weight: var(--font-weight-normal);
}
.product-name, .product-name-cart, .product-count-cart, .products, .product, .list, .buttons-container, .cart-item {
    display: flex;
    align-items: center;

}

.product-name, .product-name-cart, .product-count-cart {
    flex-direction: column;
    line-height: normal;
    align-content: flex-start;
    margin: 0 !important;
    flex-shrink: 0;

    color: #3C3C3C;
    font-size: var(--font-size-normal);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-normal);
}

.product-name {
    position: relative;
    width: 138px;
    height: 44px;
    justify-content: center;
    align-items: flex-start;
}

.product-name-cart {
    position: relative;
    width: 218px;
    height: 40px;
    justify-content: center;
    align-items: flex-start;
}

.product-count-cart {
    position: relative;
    width: 32px;
    height: 40px;
    justify-content: center;
}

.products {
    margin-top: 40px;
    margin-bottom: 0px;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    font-size: 16px;
    font-weight: var(--font-weight-normal);

}
.product > * {
    margin-right: 0;
}
.product {
    width: 280px;
    height: 44px;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;

}

.list{
    width: 280px;
    height: 54px;
    margin-bottom: 10px;
    border-bottom: var(--bottom-lineary);
}
.buttons-container {
    width: 76px;
    height: 24px;
    position: relative;
    justify-content: space-between;
}

.add-to-cart, .remove-from-cart {
    border: none;
    cursor: pointer;
    margin: 0;
}

.add-to-cart {
    width: 28px;
    height: 28px;
    border-radius: 0 10px 10px 0;
    padding: 0 6px 0 4px;
    background: var(--bk-corporate-color-first);
    color: var(--text-clor-in-button);
}

.remove-from-cart {
    width: 24px;
    height: 24px;
    border-radius: 10px 0 0 10px;
    padding: 0 5px 1px 7px;
    background: var(--bk-corporate-color-second);
    color: var(--text-clor-in-button);
}

#cart {
    list-style: none;
    padding: 0;
}

.cart-item {
    justify-content: space-between;
    margin: 5px;
}

.quantity {
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bold;
}

.products-icon {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
}

.input-count {
    border: none;
    position: absolute;
    cursor: pointer;
    width: 24px;
    height: 24px;
    left: 24px;
    top: 0;
    background-color: transparent;
}

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 40, 40, 0.8);
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
}
.popup-body{
    width: 236px;
    border-radius: 5px;
    background-color: rgba(253, 253, 253, 1);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.popup-content{
    width: 100%;
    border-radius: 5px;
    display: flex;
    margin-top: 0;
    color: black;
    max-width: 280px;
    position: relative;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.popup-close{
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 12px;
    text-decoration: none;
    border: none;
    color: var(--bk-corporate-color-third);
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}
.popup-title{
    width: 160px;
    height: 32px;
    font-size: var(--font-size-title);
    color: var(--text-color);
    margin: 34px auto 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-text{
    font-size: var(--font-size-normal);
    margin-bottom: 8px;
    color: #989898;;
}

.popup-input {
    width: 96px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #989898;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: var(--text-color);
}

.popup-add {
    display: flex;
    width: 75px;
    height: 32px;
    padding: 9px 26px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--bk-corporate-color-first);
    border: none;
    cursor: pointer;
    color: white;
    font-size: var(--font-size-title);
    margin-bottom: 20px;
    margin-top: 14px;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}