:root {
    /* фирменный шрифт */
    --font-family: Arial, sans-serif;
    --font-size-normal: 14px;
    --font-size-title: 16px;
    --font-weight-normal: 400;
    --font-style-normal: normal;


    /* фирменные цвета */
    --background-color: #fdfdfd;
    --text-color: #3C3C3C;
    --text-clor-in-button: white;
    --bk-corporate-color-first: #88C7DE;
    --bk-corporate-color-second: #D9D9D9;
    --bk-corporate-color-third: #FF8A00;

    /* Декор */
    --bottom-lineary: 0.25px solid #F5F5F5;
}