<!DOCTYPE html>
<html lang="en ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Магазин</title>
    <link rel="stylesheet" href="../scss/styles.css">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
    <div id="{{name_price_list}}" class="tittle-content">
        <h3 id="{{type_order}}" class="type_order">{{title_text}}</h3>
        <a id="{{id_client}}" class="id_client">Заказ для: <b>{{ client_name }}</b></a><br>
        <a id="{{address_id}}" class="address_id">Адрес: <b>{{ name_address }}</b></a><br>
        <a id="{{min_order_amount}}">Минимальная сумма заказа: <b>{{ min_order_amount }}</b></a><br>
        <a>Итоговая сумма заказа: <b id="order">0</b></a>
    </div>
    <div class="products" id="productList">
        <!-- Здесь будет отображаться список товаров -->
<!--        <div class="product" style="flex-direction: row-reverse;">-->
<!--        <h2 class="product-count-cart" id="order">0</h2>-->
<!--        </div>-->
    </div>


    <div class="cart">
        <ul id="cartList">
            <!-- Здесь будет отображаться список выбранных товаров -->
        </ul>
        <a>Авторы иконок:</a>
        <a href="https://www.flaticon.com/authors/freepik">Freepik</a>
        <a href="https://www.flaticon.com/authors/icongeek26">Icongeek26</a>
        <a href="https://www.flaticon.com/authors/surang">surang</a>
        <a href="https://www.flaticon.com/authors/smashicons">Smashicons</a>
    </div>
    <script src="../js/shop.js"></script>
</body>
</html>
